.parent {
    
}

.profile {
    padding: 5%;
    border: 0.7rem solid gray;
    border-radius: 2%;
    display: grid;
    grid-template-rows: repeat(4, auto);
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 5%;
}

.card-layout {
    padding: 5%;
    border: 0.7rem solid gray;
    border-radius: 2%;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 5%;
}

.pfp-pic {
    max-width: 10%;
    min-width: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.location {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

.project-link {
    display: block;
    color: black;
    background-color: gray;
    padding: 5%;
    border-radius: 999px;
    width: 50%;
    margin: 0 auto;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-bottom: 1rem;
}

.project-link:hover {
    color: black;
    text-decoration: none;
    transform: scale(1.1);
    background-color: rgb(170, 165, 165);
}

.demo-link {
    display: block;
    color: rgb(255, 255, 255);
    background-color: red;
    padding: 5%;
    border-radius: 999px;
    width: 50%;
    margin: 0 auto;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-bottom: 1rem;
}

.demo-link:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transform: scale(1.1);
    background-color: rgb(250, 85, 85);
}

.demo-and-code-layout {
    display: flex;
    justify-content: center;
    transform: scale(1.05);
    column-gap: 0.5rem;
}

.margin-bottom-5-percent {
    margin-bottom: 5%;
}

.experience-list {
    text-align: left;
}